body {

    background-color: black;
    color: darkslategrey;
    text-align: center;

    background-image: url("hitbank.jpeg") no-repeat auto center;

    
    
}

h1 {

    color: rgb(39, 116, 108);
}

div {
    width: auto;
    border: solid 5px gray;
    border-radius: 20px;
    margin: 30px;
    background-color: rgb(0, 6, 8);
}

a {
    color:turquoise;
    border: 70px;
}

.submit-button {

    background-color: rgba(39, 110, 49, 0.432);
    width: 30%;
    border-radius: 30px;
    color: turquoise;
    margin: 20px;
    border: solid 5px rgb(36, 28, 87);
    font-size: 15px;
}


input {
    margin: 10px;
}

#yoloConnect-mission {

    color: rgb(34, 255, 233);
}

nav {

    text-align: left;
}

#dashoard-welcome-heading {

    color: turquoise;
}

.change-theme-color-button {

position: left;

}

#welcome {

    color:rgb(32, 143, 106);
}

.intro {

    color: orange;
}

.log-in-push {

    width: auto;
}

#head-1 {
    color: white;
}

 