<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard
    </title>
    <link rel = "stylesheet" href = "/stylesheet/stylesheet.css">
</head>
<body>

    <button onclick = "changeBackGroundColorToWhite()"> White theme </button>  <button onclick = "changeBackGroundColorToBlack()"> Black theme </button>
  

 <p id = "dashboard-welcome-heading">

    <div>

    <h1  id = "welcome"> <%= user_name %>, Welcome to your dashboard! </h1>

</p>

</div>

<br>

<a href = "https"> Search course</a>
<br>
<input type = "search" placeholder="search">


 </h1>  

 <br>

 <nav>
    <li>
        <a href = "/"> Home </a>
    </li>
 </nav>

 <script src = "change-color.js">
 </script>
</body>
</html>